.Rproj.user
.Rhistory
.RData
.Ruserdata
/blogdown
/public/
/resources/
index_cache

# Mac os files
.DS_Store
Thumbs.db
sessionInfoLog

# Ignore Spark session files
derby.log
logs/
spark-warehouse/

# Hugo build
.hugo_build.lock

# Temporary files
# Ignore temporary files that usually have ~ appended at the end
*.*~
.python-version

# Ignore some .dat files
*.dat

# Ignore metastore folder
metastore_db/
AGENTS.md
node_modules/

# Local Netlify folder
.netlify
