.Rproj.user
.Rhistory
.RData
.Ruserdata
/blogdown
/public/
/resources/
index_cache

# Mac os files
.DS_Store
Thumbs.db
sessionInfoLog

# Ignore Spark session files
derby.log
logs/
spark-warehouse/

# Hugo build
.hugo_build.lock
